# credentials
*.json
!.streamlit/*.json

# python
__pycache__/
*.pyc
venv/
.env

# streamlit
.streamlit/secrets.toml

# documents
*.docx
*.pdf
*.xlsx
*.jpg
*.jpeg
*.png
מסמכים על התוכנית/
מערכות שעות/
